<html>
<head>
    <title>{{title}}</title>
    <style>
        .method
        {
            font-weight: bold;
            color: darkgreen;
        }
    </style>
</head>
<body>
    <h1>{{label1}}</h1>
<br/>
<b>Strony html:</b>
<br/>
<span class="method">GET</span><br/>
<a href="{{get1}}">Menu strony</a><br/>
<a href="{{get2}}">Wideo</a><br/>
<a href="{{get3}}">Stale matematyczne</a><br/>
<a href="{{get4}}">Zegar</a><br/>
<br/>
<b>Zapytania json:</b>
<br/>
<span class="method">GET</span><br/>
<b>/student</b> - lista studentow<br/>
<br/>
<span class="method">POST</span><br/>
<b>/student</b> - dodawanie nowego studenta {imie, nazwisko}<br/>
<b>/zegar</b> - zwraca aktualny czas<br/>
<b>/ip</b> - zwraca id + port z ktorego klient odpytywal serwer<br/>
<br/>
<span class="method">PUT</span><br/>
<b>/student</b> - edycja istniejacego studenta po id {id, imie, nazwisko}<br/>
<br/>
<span class="method">DELETE</span><br/>
<b>/student</b> - usuwanie istniejacego studenta po id {id}<br/>
</body>
</html>