<html>
<head>
    <title>{{title}}</title>
</head>
<body>
<a href="/menu">Powrot do menu</a><br/>
    <center>
        <iframe width="560" height="315" src="{{src}}"
                frameborder="0" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
    </center>
</body>
</html>