<html>
<head>
    <title>{{title}}</title>
</head>
<body onLoad="init()">
<script type="text/javascript">
function init()
{
    setInterval(getTime, 500);
}
function getTime()
{
    document.getElementById("time").innerHTML= (new Date()).toLocaleTimeString() ;
}
</script>
<a href="/menu">Powrot do menu</a><br/>
    <h1>{{label1}}</h1>
<br/>
<center><div id="time"></div></center>
</body>
</html>